@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&family=Barlow:wght@400;700;900&family=Fira+Code:wght@400;600;700&display=fallback');

/*place global styles here */

html,
body {
	@apply h-full overflow-hidden;
}

pre {
	@apply !text-xs my-2;
}

ul,
ol {
	@apply my-2 text-xs;
}

ol {
	@apply list-decimal;
}

ul {
	@apply list-disc;
}

li {
	@apply ml-8 my-1;
}
